body, .container{
	font: 20px Raleway, sans-serif;
}
.jumbotron{
	z-index: 0;
	background-image: url("../images/header1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	color: #f0f0ee;
	text-align: center;
	padding-top: 50%;
	margin-bottom: 0;
}

h1, h2{
	text-align: center;
	color: darkblue;
}
ul{
	list-style: none;
	background-color: lightgray;
}
.panel-default > .panel-heading {
  background: #FCA64F;
}
main{
	margin-bottom: 100px;
}
form fieldset { 
	display: block;
    background-color: lightgray;   
	padding-bottom: 30px;
	margin-bottom: 60px;
} 
button,
legend {
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 0;
  border: 0;
  font-size: 14px;
}
button{
	border-radius: 15px;
  box-shadow: 0 4px #999;
}
button:hover{
  color: #999;
}

button:active {
  background-color: white;
  color: black;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
footer {
	color: black;
	background-color: lightgray;
	text-align: center;
}